<div class="page">
  <!--title-->
  <div class="bg-card">
    <div class="w-desktop maw-desktop page-title-wrapper d-flex justify-content-between">
      <div class="page-title-content">
        <div class="page-title">Nuevo miembro del consejo</div>
      </div>
      <div class="d-flex flex-row align-items-center pe-3">
        <!--aqui van las opciones-->
      </div>
    </div>
  </div>
  <!--body-->
  <div class="page-body d-flex justify-content-center">
    <div class="w-desktop">
      <mat-card class="">
        <mat-card-subtitle>Informacion General</mat-card-subtitle>
        <mat-card-content>
          <form class="d-flex flex-column" [formGroup]="councilForm" (submit)="submit()">
            <!--general info-->
            <div class="d-flex flex-row m-flex-column gap-d-3">
              <mat-form-field appearance="outline" class="w-full">
                <mat-label>Nombre(s)</mat-label>
                <input matInput placeholder="Nombre(s)" formControlName="firstName" autofocus />
              </mat-form-field>
              <mat-form-field appearance="outline" class="w-full">
                <mat-label>Apellido(s)</mat-label>
                <input matInput placeholder="Apellido(s)" formControlName="lastName" />
              </mat-form-field>
            </div>
            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput placeholder="Email" formControlName="email" />
            </mat-form-field>

            <div class="d-flex flex-row m-flex-column gap-d-3">
              <mat-form-field appearance="outline" class="w-full">
                <mat-label>Telefono</mat-label>
                <input matInput placeholder="Telefono" formControlName="phone" />
              </mat-form-field>

              <mat-form-field appearance="outline" class="w-full">
                <mat-label>Genero</mat-label>
                <mat-select formControlName="gender">
                  <mat-option value="masculino">Masculino</mat-option>
                  <mat-option value="femenino">Femenino</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <mat-form-field appearance="outline">
              <mat-label>Direccion</mat-label>
              <input matInput placeholder="Direccion" formControlName="address" />
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Contribucion</mat-label>
              <textarea matInput rows="5" placeholder="Contribucion" formControlName="contribution"></textarea>
            </mat-form-field>

            <div class="d-flex justify-content-center align-items-center w-full mt-5">
              <button mat-button color="primary" type="button" class="me-4" routerLink="/users">Cancelar</button>
              <button type="submit" mat-raised-button color="primary">Guardar</button>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
