@import 'color';
.jurevida-navbar {
  background-color: #fff;
  z-index: 49;
  height: 4rem;
  color: rgba(0, 0, 0, 0.7);
}
.navbar-page-title {
  display: none;
}
/* For Mobile Phones Portrait or Landscape View */
@media screen and (max-device-width: 640px) {
  .jurevida-navbar {
    background-color: map-get($jurevida-psicologia, 800);
    color: #fff;
  }
  .navbar-page-title {
    display: inline;
  }
}
