<div class="page">
  <!--title-->
  <div class="bg-card">
    <div class="w-desktop maw-desktop page-title-wrapper d-flex justify-content-between">
      <div class="page-title-content">
        <div class="page-title d-flex align-items-center">Documentos</div>
      </div>
    </div>
  </div>
  <!--body-->

  <div class="page-body h-full d-flex justify-content-center">
    <div class="w-desktop">
      <h3 class="ms-3 mt-3">Archivos</h3>
      <div class="d-flex flex-wrap m-2 mt-2">
        <a
          class="d-flex flex-column justify-content-evenly m-2 p-4 shadow bg-card document-card"
          *ngFor="let document of documents.model"
          [href]="document.url"
          target="blank"
        >
          <div class="icon-wrapper">
            <div class="d-flex justify-content-center align-items-center">
              <div class="relative">
                <mat-icon>list_alt</mat-icon>
              </div>
            </div>
          </div>

          <div class="d-flex flex-column justify-content-around align-items-center text-wrapper">
            {{ document.name }}
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
