<div class="d-flex flex-column">
  <h1>Nuevo Gasto</h1>
  <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec</p>
  <form class="d-flex flex-column" [formGroup]="form" (submit)="submit()">
    <mat-form-field appearance="outline">
      <mat-label>Nombre</mat-label>
      <input matInput placeholder="Nombre del Contribuyente" formControlName="name" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Cantidad</mat-label>
      <input matInput placeholder="Nombre del Contribuyente" type="number" formControlName="amount" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Concepto</mat-label>
      <textarea matInput placeholder="Nombre del Contribuyente" formControlName="concept" rows="4"></textarea>
    </mat-form-field>
    <div class="d-flex justify-content-center align-items-center w-full mt-5" mat-dialog-actions>
      <button mat-button color="primary" type="button" class="me-4" (click)="cancel()">Cancelar</button>
      <button type="submit" mat-raised-button color="primary">Crear</button>
    </div>
  </form>
</div>
