<div class="d-flex flex-column">
  <h1>Bienvenido a Jurevida</h1>
  <p>Al parecer es la primera vez que nos visitas, por motivos de seguridad requerimos que cambies tu contrasena.</p>

  <form class="d-flex flex-column" [formGroup]="passwordForm" (submit)="submit()">
    <mat-form-field appearance="outline" class="mt-2">
      <mat-label>Contrasena actual</mat-label>
      <input matInput placeholder="Nueva Contrasena" name="passwordInp" formControlName="currentPassword" type="password" maxlength="16" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="mt-2">
      <mat-label>Nueva contrasena</mat-label>
      <input matInput placeholder="Nueva Contrasena" name="passwordInp" formControlName="password" type="password" maxlength="16" />
      <mat-error *ngIf="passwordForm.controls['password'].errors">
        <span *ngIf="passwordForm.controls['password'].errors['required']">Contrasena Requerida</span>
        <span *ngIf="passwordForm.controls['password'].errors['minlength']">La contrasena debe de contener minimo 8 caracteres</span>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="mt-1" appearance="outline">
      <mat-label>Confirma la contrasena</mat-label>
      <input matInput type="password" placeholder="Contrasena" name="passInp" formControlName="confirmPassword" maxlength="16" />
      <mat-error *ngIf="passwordForm.controls['confirmPassword'].errors">
        <span *ngIf="passwordForm.controls['confirmPassword'].errors['required']">Contrasena Requerida</span>
        <span *ngIf="passwordForm.controls['confirmPassword'].errors['minlength']">La contrasena debe de contener minimo 8 caracteres</span>
        <span *ngIf="passwordForm.controls['confirmPassword'].errors['matching']">Las Contrasenas no coinciden</span>
      </mat-error>
    </mat-form-field>
    <div fxLayout="row" fxLayoutAlign="center center" class="text-warning">
      {{ error }}
    </div>
    <button mat-raised-button color="primary" class="mt-5" type="submit">Cambiar Contrasena</button>
  </form>
</div>
