.page-title {
  img {
    width: 8rem;
    height: 8rem;
    margin-right: 1rem;
    border-radius: 9999px;
  }
}

.profile-container {
  display: flex;
  gap: 1.5rem;

  .profile-general {
    flex: 0 1 auto;
    width: 100%;
  }

  .profile-content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    width: auto;
  }
}

/* For Mobile Phones Portrait or Landscape View */
@media screen and (max-device-width: 640px) {
  .page-title {
    img {
      width: 3rem;
      height: 3rem;
    }
  }
}
