$j-psicologia: #5e75a7;
$j-medicina: #14c5b3;
$j-leyes: #ffb522;
$j-tsocial: #f86965;

$body-color: #f1f5f9;

$jurevida-psicologia: (
  50: #eceef4,
  100: #cfd6e5,
  200: #afbad3,
  300: #8e9ec1,
  400: #768ab4,
  500: #5e75a7,
  //
  600: #566d9f,
  700: #4c6296,
  800: #42588c,
  900: #31457c,
  A100: #c6d4ff,
  A200: #93aeff,
  A400: #6088ff,
  A700: #4775ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #ffffff,
  ),
);

$jurevida-medicina: (
  50: #e3f8f6,
  100: #b9eee8,
  200: #8ae2d9,
  300: #5bd6ca,
  400: #37cebe,
  500: #14c5b3,
  600: #12bfac,
  700: #0eb8a3,
  800: #0bb09a,
  900: #06a38b,
  A100: #cffff6,
  A200: #9cffed,
  A400: #69ffe4,
  A700: #4fffe0,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$jurevida-leyes: (
  50: #fff6e4,
  100: #ffe9bd,
  200: #ffda91,
  300: #ffcb64,
  400: #ffc043,
  500: #ffb522,
  600: #ffae1e,
  700: #ffa519,
  800: #ff9d14,
  900: #ff8d0c,
  A100: #ffffff,
  A200: #fffaf6,
  A400: #ffe0c3,
  A700: #ffd4a9,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$jurevida-tsocial: (
  50: #feeded,
  100: #fdd2d1,
  200: #fcb4b2,
  300: #fa9693,
  400: #f9807c,
  500: #f86965,
  600: #f7615d,
  700: #f65653,
  800: #f54c49,
  900: #f33b37,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffd6d5,
  A700: #ffbdbc,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
