@import './color';

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.text-lg {
  font-size: 1rem;
}
.text-medium {
  font-weight: 500 !important;
}
.leading-6 {
  line-height: 1.5rem;
}
.tracking-tight {
  letter-spacing: -0.025em;
}

.text-primary {
  color: $j-psicologia;
}
.text-secondary {
  color: $j-medicina;
}
.text-warning {
  color: $j-leyes;
}
.text-danger {
  color: $j-tsocial;
}

.text-muted {
  color: rgba(33, 37, 41, 0.65) !important;
}
.text-center {
  text-align: center;
}
