@import './color';
@import '~@angular/material/theming';
///////foreground
//white
$white: #fff;
@function jurevida-foreground($color) {
  @return (text: $text-color, accent-text: $white);
}
$white-foreground: jurevida-foreground(white);

$jurevida-typography: mat-typography-config(
  $font-family: '"Montserrat", sans-serif;'
);

@include mat-core($jurevida-typography);

$jurevida-primary: mat-palette($jurevida-psicologia, 800);
$jurevida-accent: mat-palette($jurevida-medicina, 500);
$jurevida-warn: mat-palette($jurevida-leyes, 500);

$jurevida-theme: mat-light-theme($jurevida-primary, $jurevida-accent, $jurevida-warn);

$app-theme: map-merge(
  $jurevida-theme,
  (
    foreground: $white-foreground
  )
);
@include angular-material-theme($app-theme);

mat-error {
  display: none !important;
}

mat-error:first-child {
  display: block !important;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  background-color: white;
}
