.br-100 {
  border-radius: 9999px !important;
}
.br-1 {
  border-radius: 0.25rem !important;
}
.br-2 {
  border-radius: 0.5rem !important;
}

.br-3 {
  border-radius: 1rem !important;
}
.br-4 {
  border-radius: 1.5rem !important;
}
.br-5 {
  border-radius: 3rem !important;
}
