@import "./color";
@import "./theme";
@import "./flex";
@import "./text";
@import "./position";
@import "./size";
@import "./shadow";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  background-color: $body-color;
}
