@import "./color";
@import "./theme";
@import "./flex";
@import "./container";
@import "./spaces";
@import "./text";
@import "./position";
@import "./size";
@import "./shadow";
@import "./page";
@import "./util";
@import "./scroll";
@import "./table";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  background-color: $body-color;
}
