mat-drawer-container {
  background-color: transparent;
}
.left-side {
  background-color: transparent;
  border: none;
  margin-right: 1.5rem;
}
.list-options {
  padding: 1rem;
  min-width: 16rem;
}
.mat-drawer-container {
  background-color: transparent !important;
}
