<div class="page">
  <div class="bg-card">
    <div
      class="w-desktop maw-desktop page-title-wrapper d-flex justify-content-between"
    >
      <div class="page-title-content">
        <div class="page-title">
          <!--<button type="button" mat-button (click)="drawer.toggle()">-->
          <!--<mat-icon>menu</mat-icon>-->
          <!--</button>-->
          Usuarios
        </div>
      </div>
      <div class="d-flex flex-row align-items-center">
        <button
          mat-raised-button
          class="br-100"
          color="primary"
          routerLink="create"
        >
          Nuevo Usuario
        </button>
      </div>
    </div>
  </div>
  <div class="mt-2 p-3 d-flex justify-content-center h-full">
    <div
      class="example-container"
      [class.example-is-mobile]="mobileQuery.matches"
    >
      <button mat-icon-button (click)="snav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>

      <mat-sidenav-container
        class="example-sidenav-container"
        [style.marginTop.px]="mobileQuery.matches ? 56 : 0"
      >
        <mat-sidenav
          #snav
          [mode]="mobileQuery.matches ? 'over' : 'side'"
          [fixedInViewport]="mobileQuery.matches"
          fixedTopGap="56"
        >
        </mat-sidenav>

        <mat-sidenav-content> content </mat-sidenav-content>
      </mat-sidenav-container>
    </div>
  </div>
</div>
