<div class="container d-flex justify-content-center align-items-center">
  <mat-card class="auth-card">
    <div class="login-container">
      <div class="logo-container">
        <img src="assets/Logo.png" alt="jurevida.png" />
      </div>
      <div class="welcome-title">Reestablecer Contrasena</div>
      <form>
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput placeholder="Password" name="passwordInp" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Contrasena</mat-label>
          <input
            matInput
            type="password"
            placeholder="Confirm Password"
            name="passInp"
          />
        </mat-form-field>

        <div class="text-warning mt-5">
          <!--{{ error }}-->
        </div>
        <div
          class="d-flex justify-content-around align-items-center w-full mt-4"
        >
          <a href="" mat-button [routerLink]="['/auth']" class="br-100"
            >Cancelar</a
          >
          <button mat-raised-button color="primary">Reset Password</button>
        </div>
      </form>
    </div>
    <div class="login-info">
      <h1>Bienvenido a nuestra comunidad</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec mi metus,
        aliquam quis felis id, posuere ornare sem. Maecenas auctor eros vel
        lobortis convallis. Suspendisse potenti. Sed sit amet orci at nunc
        sollicitudin bibendum ut eget velit. Duis accumsan ipsum libero, quis
        pellentesque metus faucibus ac. Maecenas sit amet quam gravida,
        condimentum velit eget, eleifend nunc. Morbi nec imperdiet sapien.
        Aenean in
      </p>
    </div>
  </mat-card>
</div>
