<mat-accordion>
  <mat-expansion-panel
    (opened)="panelOpenState = true"
    class="associated-panel"
    (closed)="panelOpenState = false"
    *ngFor="let a of associatesMembers.model"
  >
    <mat-expansion-panel-header>
      <mat-panel-title class="panel-title">
        <div class="d-flex">
          <img [src]="a.avatar" />
          <div class="d-flex flex-column justify-content-center">
            <p class="m-0">{{ a.fullName }}</p>
            <span class="text-muted">{{ a.associated!.profession }}</span>
          </div>
        </div>
      </mat-panel-title>
      <mat-panel-description> Socio desde {{ a.createdAt | date }} </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="panel-container">
      <div class="item desktop-hidden mobile-visible">
        <div class="icon-container">
          <mat-icon>work</mat-icon>
        </div>
        <div class="item-info">
          <p>{{ a.associated?.profession }}</p>
          <span class="text-muted">Profesion</span>
        </div>
      </div>

      <div class="item">
        <div class="icon-container">
          <mat-icon>place</mat-icon>
        </div>
        <div class="item-info">
          <p>{{ a.associated?.placeOfBirth }}</p>
          <span class="text-muted">Fecha y Lugar de Nacimiento</span>
        </div>
      </div>
      <div class="item">
        <div class="icon-container">
          <mat-icon>how_to_reg</mat-icon>
        </div>
        <div class="item-info">
          <p>{{ a.associated?.rfc }}</p>
          <span class="text-muted">RFC</span>
        </div>
      </div>
      <div class="item">
        <div class="icon-container">
          <mat-icon>assignment_ind</mat-icon>
        </div>
        <div class="item-info">
          <p>{{ a.associated?.maritalStatus }}</p>
          <span class="text-muted">Estado Civil</span>
        </div>
      </div>

      <div class="item">
        <div class="icon-container">
          <mat-icon>phone</mat-icon>
        </div>
        <div class="item-info">
          <p>{{ a.phone | phone }}</p>
          <span class="text-muted">Telefono</span>
        </div>
      </div>

      <div class="item">
        <div class="icon-container">
          <mat-icon>email</mat-icon>
        </div>
        <div class="item-info">
          <p>{{ a.email }}</p>
          <span class="text-muted">Email</span>
        </div>
      </div>
      <div class="item">
        <div class="icon-container">
          <mat-icon>home</mat-icon>
        </div>
        <div class="item-info">
          <p>{{ a.address }}</p>
          <span class="text-muted">Domicilio</span>
        </div>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
