.associated-panel {
  padding: 1rem 0 1rem 0;
  .panel-title {
    p {
      font-weight: 700;
    }
    img {
      width: 60px;
      height: 60px;
      border-radius: 9999px;
      margin-right: 1rem;
    }
  }
}
